



    <ion-content responsive-sm  >
      <ion-grid>
        <ion-row >
        <ion-col sizeLg="3" sizeMd="3" sizeXs="0"  >
        </ion-col>
    
        <ion-col sizeLg="6" sizeMd="6" sizeXs="12" style="border: 2px;border-width: 2px; "  >
          
         <b> Mentions légales</b> 
      

           Nom de l'application 
           Clarty <br>
       
          Hébergeur : <br>
          OVH 
          <br>
          Propriété intellectuelle :
          L’ensemble des contenus présents dans l’application (textes, images, logos, icônes, etc.) sont protégés par le droit d’auteur et restent la propriété exclusive de [Nom de la société ou du développeur]. Toute reproduction ou utilisation sans autorisation est interdite.
          <br>
          Collecte de données personnelles :   <br>
          L’application peut collecter certaines données personnelles dans le cadre de son fonctionnement. 
          <br>
          Ces données sont utilisées uniquement pour [préciser l’objectif : ex. améliorer le service, personnaliser l’expérience utilisateur, etc.].
          Conformément au RGPD, vous disposez d’un droit d’accès, de modification et de suppression de vos données. Pour exercer ce droit, contactez-nous à l’adresse email mentionnée ci-dessus.
          <br>
          Responsabilité :   <br>
          L’éditeur ne saurait être tenu responsable des dommages directs ou indirects résultant de l’utilisation ou de l’impossibilité d’utiliser l’application.
          <br>
          <br>
      
         

          <ion-button expand="block" shape="round" class="ion-margin-top" 
          (click)="update_legal()">
          Accepter
        </ion-button>
         </ion-col>
         </ion-row>
      </ion-grid>



  </ion-content>

