<ion-header [class.shrink]="isShrunk">
  <ion-toolbar  lines="none" style="text-align: center;">


    <img src="assets/logo.png" lass="fade-in delay-1" style="height: 150px;" alt="Logo Clarty" />
     

  </ion-toolbar>
</ion-header>



<ion-content responsive-sm   [scrollEvents]="true"  (ionScroll)="onScroll($event)" scrollEvents="true" #pageContent>



<swiper-container style="padding-top: 5px;padding-bottom: 10px;"
(slidechange)="swiperSlideChanged($event)"
[slidesPerView]="1"
[spaceBetween]="10"
[autoplay]="{
  delay: 1800,
  disableOnInteraction: false
}"
[loop]="true"
[pagination]="true"
>
<swiper-slide *ngFor="let card of cards" >   
   <ion-card [routerLink]="card.url" class="animated-card" style="margin: 0 auto; max-width: 90%;">
  <img [src]="card.image" alt="Image card" />

  <ion-card-header>
    <ion-card-title>{{ card.title }}</ion-card-title>
  </ion-card-header>

  <ion-card-content class="text-wrap">
    {{ card.content }}
  </ion-card-content>
</ion-card> </swiper-slide>

</swiper-container>









 

  <ion-grid>
  <ion-row >

  
  <ion-col sizeLg="12" sizeMd="12" sizeXs="12" style="border: 2px;border-width: 2px; text-align: center;"  >


  
  <h2 class="ion-text-center" style="padding: 1px 10%; font-weight: bold;">
    <span style="color: #1771f9;" [innerHTML]="typedText"></span>
  </h2>



<ion-item lines="none" class="scroll-animate" #scrollIte style="
background: #ffffff;
border-radius: 30px;
padding: 30px 20px;
text-align: left;
margin: 5px 0px 0px 0px;">
<div class="scroll-animate" #scrollItem>
<h5 style="margin: 0;">  Posez une question, elle vous répond instantanément. 
</h5>
</div>
</ion-item>



<ion-button   class="smooth-button" (click)="goFiles()"  >  Ajouter un document  </ion-button>

      </ion-col>
      <ion-col sizeLg="3" sizeMd="3" sizeXs="0"  >
      </ion-col>
    </ion-row>
  </ion-grid>



</ion-content>


<!-- Modale vidéo -->
<div *ngIf="showPopup" class="popup-overlay">
  <div class="popup-content">
    <button class="close-btn" (click)="closeVideoPopup()">✖</button>


    <img src="assets/video.gif" alt="Chargement..." />
 
  </div>
</div>
